body {
	/* background-color: #ecf0f1; <-- ilma pildita */
	background-image: url('../meedia/taust.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Montserrat', sans-serif;
	color: #2c3e50;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
	transition: 0.3s;
}

a:hover {
	color: #7f8c8d;
}

#logo {
	height: 55px;
	display: inline-block;
	padding: 5px 15px;
	cursor: pointer;
	transition: 0.3s;
}

#logo:hover {
	opacity: 0.7;
}

#header {
	background: #3498db;
	font-size: 25px;
	border-bottom: 1px solid black;
	transform: translate(0, 0);
	height: 65px;
}

#header h1 {
	font-size: 10px;
	margin: 0;
}

#dropdown {
	font-size: 14px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	border-bottom: 2px solid black;
	background: #3498db;
	padding: 10px 15px;
	display: inline-block;
	color: #000;
	cursor: pointer;
	transition: 0.3s;
}

#dropdown:hover {
	color: #fff;
	border-bottom: 2px solid white;
	background: #2980b9;
}

#header span {
	padding: 10px 15px;
	display: inline-block;
	color: #000;
	cursor: pointer;
	transition: 0.3s;
}

#header span:hover {
	color: #fff;
}

#header nav {
	font-size: 0;
	float: right;
	height: 100%;
}

#header nav span {
	font-size: 14px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	border-bottom: 2px solid black;
	background: #3498db;
	transition: 0.3s;
}

#header nav span:hover {
	border-bottom: 2px solid white;
	background: #2980b9;
}

#header nav .dropdownsisu {
	display: none;
	position: absolute;
	margin-top: 10px;
	background-color: #3498db;
	max-width: 150px;
	transition: 1s;
}

#header nav .dropdownsisu span {
    color: black;
    padding: 0 15px !important;
    text-decoration: none;
    display: block;
}

#header nav #dropdown:hover .dropdownsisu {
	display: block;
}

#wrap {
	margin: 10px auto;
	width: 100%;
	max-width: 900px;
	height: 90%;
}

#sisu {
	background: #fff; /* vanematele brauseritele */
	background: rgba(255, 255, 255, 0.95);
	font-size: 15px;
	padding: 10px 15px;
	min-height: 350px;
}

#sisu img {
    max-width: 100%;
    max-height: 100%;
}

#footer {
	background: #ecf0f1; /* vanematele brauseritele */
	background: rgba(236, 240, 241, 0.95);
	border-top: 1px solid black;
	font-size: 15px;
	padding: 10px 15px;
	margin-bottom: 15px;
}

.galerii img {
	height: 150px; /* thumbnailid */
	width: 32.6%; /* thumbnailid */
	padding: 5px 0;
}

.galerii img:hover {
	cursor: pointer;
}

.suurPilt {
	width: 100% !important;
	height: auto !important;
}

.paremal {
	float: right;
}

.uleval {
  position: fixed;
  box-sizing: border-box;
  max-width: inherit;
  top: 0;
  width: 100%;
}

.aktiivne {
	color: black !important;
	border-bottom: 3px solid white !important;
	height: 43px !important;
}

.spoiler {
	max-width: 100%;
	border: 1px solid black;
	padding: 15px 25px;
	font-weight: bold;
	background-color: #fff;
	margin: 5px 0;
}

.spoiler:hover {
	cursor: pointer;
}

.spoilerSisu {
	padding: 0 5px;
	margin-bottom: 20px;
}

.laadimine {
	border-radius: 50%;
	border: 6px solid #bdc3c7;
	border-top: 6px solid #3498db;
	width: 20px;
	height: 20px;
	animation: spin 1s infinite;
}

@keyframes spin {
	0% { transform: rotate(10deg); }
	100% { transform: rotate(370deg); }
}